/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


  @font-face {
    font-family: 'Outfit'; /* The name you'll use in CSS */
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 400; /* Regular weight */
    font-style: normal; /* Normal style */
  }
  
  @font-face {
    font-family: 'Young Serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 700; /* Bold weight */
    font-style: normal;
  }


  :root {
    --white: hsl(0, 0%, 100%);
    
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
  
    --brown-800: hsl(14, 45%, 36%);
  
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
  }
  
  

  main {
    padding: 0rem;
  }
/* ******************************FIRST SECTION STYLING*********************** */

.first-section {
    padding: 2rem 1.2rem;
}

.first-section-h1 {
    font-family: 'Young Serif', serif;
    font-size: 2.5rem;
    line-height: 1;
}

.desktop {
    display: none;
}

.first-section-p {
    padding: 1.2rem 0;
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
}

.preparation-time{
    font-family: 'Outfit', sans-serif;
    padding: 1.5rem .5rem;
    background-color: var(--rose-50);
    margin: 0 .5rem;
    border-radius: 10px;
}

.preparation-time h2 {
    color: var(--rose-800);
    padding: .8rem 1rem 0;
}

.preparation-time ul {
    font-size: 1.12rem;
}

.preparation-time ul li {
    padding: .35rem 0;
    text-indent: 0.625rem;
}

/* ******************************SECOND SECTION STYLING*********************** */

.second-section {
    padding: 0rem 1.2rem;
}

.ingredients-h1{
    font-family: 'Young Serif', serif;
    font-size: 2.2rem;
    color: var(--brown-800);
}

.ingredients-list {
    font-family: 'Outfit', sans-serif;
    padding: 1.5rem ;
}

.ingredients-list li {
    padding: .35rem 0;
    font-size: 1.2rem;
}

/* ******************************THIRD SECTION STYLING*********************** */
.third-section {
    padding: 1.5rem 1.2rem;
}

.instructions-h1{
    font-family: 'Young Serif', serif;
    font-size: 2.2rem;
    color: var(--brown-800);
}

.instructions-list {
    font-family: 'Outfit', sans-serif;
    padding: 1.5rem ;
}

.instructions-list li {
    padding: .35rem 0;
    font-size: 1.2rem;
}

/* ******************************FOURTH SECTION STYLING*********************** */
.fourth-section {
    padding: 1.5rem 1.2rem;
}

.nutrition-h1 {
    font-family: 'Young Serif', serif;
    font-size: 2.2rem;
    color: var(--brown-800);
}

.fourth-section p {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-family: 'Outfit', sans-serif;
    padding: .8rem 0;
}

table {
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: left;
    font-family: 'Outfit', sans-serif;
    font-size: 1.3rem;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

td:last-child {
    text-align: right; 
    font-weight: bold;
    color: var(--brown-800);
}

td:first-child {
    font-weight: normal;
}

tr:last-child td {
    border-bottom: none; 
}


/* ******************************MEDIA QUERIES*********************** */

@media (min-width: 1200px) and (max-width:1440px){
    header {
        padding: 2rem 1.2rem;
    }

    header img {
        border-radius: 10px;
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
}